<h2>Create a new celebrity </h2>

<form action="/celebrities/create" method="POST">
<div>

<input type="" name="name" id="">
</div>
<div>
    
<input type="string" name="occupation" id="">
</div>
<div> 

<input type="string" name="catchPhrase" id="">
</div>

<button type="submit" >add celebrity</button>



</form>